<section class="row" data-ng-controller="AuthenticationController">
	<div class="body_text">
		<div class="container_text">
			<section class="content_text bgcolor-4">
				<div class ="head2 col-md-12 text-center">Login</div>
				<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
					<fieldset style="min-width:auto">
						
						<span class="input input--akira ">
						<input class="input__field input__field--akira" type="text" id="input-22"  name="username" class="form-control" data-ng-model="credentials.username"/>
						<div class="input__label input__label--akira">
							<span for="username" class="input__label-content input__label-content--akira">First Name</span>
						</div>
						</span>
						<span class="input input--akira ">
						<input class="input__field input__field--akira" type="password" id="input-22"  name="" class="form-control" data-ng-model="credentials.password"/>
						<div class="input__label input__label--akira" for="input-22 ">
							<span for="password" class="input__label-content input__label-content--akira">Password</span>
						</div>
						</span>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
							<a href="/#!/signup">Sign up</a>
						</div>
						<div class="forgot-password">
							<a href="/#!/password/forgot">Forgot your password?</a>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</section>

			<section class="content_text bgcolor-7">
				<div class ="head2 col-md-12 text-center">Accounts</div>
				<div class="">
					<a href="/auth/facebook" class="undecorated-link">
						<img src="/modules/users/img/buttons/facebook.png">
					</a>
					<a href="/auth/twitter" class="undecorated-link">
						<img src="/modules/users/img/buttons/twitter.png">
					</a>
					<a href="/auth/google" class="undecorated-link">
						<img src="/modules/users/img/buttons/google.png">
					</a>
					<a href="/auth/linkedin" class="undecorated-link">
						<img src="/modules/users/img/buttons/linkedin.png">
					</a>
					<a href="/auth/github" class="undecorated-link">
						<img src="/modules/users/img/buttons/github.png">
					</a>
				</div>
				
			</section>
		</div>
	</div>
	